<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/nav') %>
</head>
<body>
    <h1 style="text-align: center;">Cartas de los usuarios!</h1>
    <%- include('./layouts/carta') %>
    <h3 style="text-align: center;"><a href="/crear">Crea tu carta</a></h3>
</body>
</html>