<%- include('./layouts/nav') %>

<div style="text-align: center;">
  <br>
  <img class="avion" src="images/aviondoki.gif" alt="">
  <h1 class="trazo">Bienvenido a la página beta de Mundo Expedición!</h1>
  
  <% if (user) { %>
    <h1 class="trazo">Hola <a href="/user/<%= user.discordId %>"><%= user.username %></a></h1>
    <a class="btn btn-info" href="/cartas">Ver las cartas</a>
    <a class="btn btn-primary" href="/crear">Crea tu carta</a>
  <% } else { %>
    <a class="btn btn-success" href="/auth">Iniciar Sesión</a>
    <a class="btn btn-info" href="/cartas">Ver las cartas</a>
  <% } %>
</div>