<%- include('./layouts/nav') %>

<div style="text-align: center;">
  <br>
  <img class="avion" src="images/aviondoki.gif" alt="">
  <h1 class="titulo">Bienvenido a la página beta de Mundo Expedición!</h1>
  
  <a href="/cartas">ver las cartas</a>
  <% if (user) { %>
    <h1>Hola <a href="/user/<%= user.discordId %>"><%= user.username %></a></h1>
    <a href="/auth/logout">cerrar sesion</a>
    <a href="/crear">Crea tu carta</a>
  <% } else { %>
    <a href="/auth">iniciar sesion</a>
  <% } %>
</div>