<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('nav') %>
</head>
<body style="background: url(../images/background404.png); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-attachment: fixed; text-align: center;">
    <h1>404</h1>
    <h3>Que mal aterrizaje!</h3>
</body>
</html>